.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.topnav {
  overflow: hidden; 
  background-color:black;
  padding: 15px;
  text-align: -webkit-center;  
}

.topnav a{
  color: #f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size:15px;
  border:1.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  ;

}
.topnav a:hover{
  background-color: grey;
  color:#f2f2f2;

}

.topnav .icon{
  display: none
}


.background {
  background-image: url('https://wallpaperset.com/w/full/4/4/3/150521.jpg');
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  background-position-x: 30%;
  background-position-y: center;
}