.wrapper{
  /* border: 1px solid red; */
  margin: 30px 140px;
  height: 100px;

}


.logo{
  border: 3px solid black;
  background-image: url(https://cdn.dribbble.com/users/150892/screenshots/3017429/logo-bm-mario-biancolella-01_1x.png);
  /* top: 50%; */
  /* padding: 25px; */
  background-repeat: no-repeat;
  background-size: 121px 100px;
  height: 100px;
  width: 119px;
  text-align: center;
  position: relative;
  left: 40%;
  /* margin: auto 332px; */
  border-radius: 50%;
}

.logo:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}
hr{
  border: 0.5px solid #323232;;
}



.topnav {
  overflow: hidden; 
  color: white;
  padding: 15px;
  text-align: -webkit-center;  
  
}


.topnav :hover{
  background-color: grey;
  color:#f2f2f2;
  

}

.topnav .icon{
  display: none
}

.topnav a {
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 20px;
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0;
  -webkit-border-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  font-weight: bold;
  color:black;
  font-family: 'chevindemibold', sans-serif;

}


.topnav button {
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 15px;
  
  background: transparent;
  font-weight: 700;
  font-family: 'chevindemibold', sans-serif;
  border: 1px solid ;
  border-top: 0;
  border-bottom: 0;
  -webkit-border-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(12, 10, 10) 48%, rgba(255, 255, 255, 0) 100%);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(12, 10, 10) 48%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;

  
}

.containerforaboutme{
  height: 300px;
  /* border:1px solidsolid navy; */
}
.Helloworld{
  /* border: 1px solid orangered; */
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 35%;
  height: 300px;
  
  font-size: xx-large;
  font-family: 'ZCOOL XiaoWei', serif;
}

.jsblogtitle{
  vertical-align: top;
  box-sizing: border-box;
  width: 35%;
  height: 100px;
  
  font-size: xx-large;
  font-family: 'ZCOOL XiaoWei', serif;
}
.aboutme{
  /* border: 1px solid yellow; */
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 60%;
  height: 300px;
  font-size: 20px;
  padding: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 45px;
  font-size: 16px;
  line-height: 45px;
  text-shadow: 1px 1px 1px blanchedalmond;
  background: transparent;
  font-weight: 560;
}
.jsblogcontent {
  
    /* border: 1px solid yellow; */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    
    
    font-size: 20px;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 45px;
    font-size: 16px;
    line-height: 45px;
    text-shadow: 1px 1px 1px blanchedalmond;
    background: transparent;
    font-weight: 560;
  
}

.aboutmeseperator{
  border: 2.5px solid  #323232;;

}




/* .container1{
  background-image: url("hi.png");
  background-repeat: no-repeat;
  background-color: antiquewhite;
  height: 1000px;
} */





.projectsection{
  height: auto;
  /* border:1px solid red */
}


.firstblock {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 32%;  
  height: 1146px;
  position: relative;
}

.secondblock{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 68%;
  height: 800px;
  /* border:1px solid red; */
}

.projectone-backg {
  background-image: url(./faceapp.PNG);
  background-size: cover;
  height: 100%;
  border:1px solid  rgb(203, 161, 234);
}

.projectone {  
  vertical-align: top;
  box-sizing: border-box;   
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border: 1px solid  rgb(203, 161, 234);
}

.faceapp {
  width: 100%;
  height: 783px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;  
  transition: all .5s ease;
  position: relative;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(203, 161, 234);
}

.projectone:hover .middle {
  opacity: 1.5;
  cursor: pointer;
}


.drumapp{
  height:398px;
  width: 100%;
  display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    /* width: 30%; */
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png); */
    /* background-repeat: no-repeat; */
    /* height: 322px; */
    /* background-size: 320px; */
    transition: all .5s ease;
    position: relative;
    backface-visibility: hidden;
}
.calcapp{
  height:374px;
  width: 100%;
  display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    /* width: 30%; */
    
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png); */
    /* background-repeat: no-repeat; */
    /* height: 322px; */
    /* background-size: 320px; */
    transition: all .5s ease;
    position: relative;
    backface-visibility: hidden;
}
.wikiapp{
  height: 400px;
  width:100%;
}
/* .projectone:hover .faceapp{
  opacity: 0.3;
} */



  .drumtext{
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 20px;
      font-size: medium;
      font-weight: bold;
      line-height: 40px;
  }


  .calctext{
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 20px;
      font-size: medium;
      font-weight: bold;
      line-height: 40px;

  }
  .diatext{
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 20px;
      font-size: medium;
      font-weight: bold;
      line-height: 30px;
  }

  .projecttwo:hover .Projecttwodescription {
    opacity: 1.5;
    cursor: pointer;
    
  }


  .projectthree:hover .Projecttwodescription {
    opacity: 1.5;
    cursor: pointer;
  }

  .projectfour:hover .Projecttwodescription {
    opacity: 1.5;
    cursor: pointer;
  }
  .projectfive:hover .projectfivedesc {
    opacity: 1.5;
    cursor: pointer;
  }
  .projectsix:hover .projectsixdesc {
    opacity: 1.5;
    cursor: pointer;
  }
  .projectseven:hover .projectsevendesc {
    opacity: 1.5;
    cursor: pointer;
  }




  .firstrow {
    border:1px solid red;
height: 400px;
width:68%;
  }

  
.projecttwo{

  display: inline-block;
vertical-align: top;
box-sizing: border-box;
width: 50%;
/* border:1px solid darkgoldenrod; */
height: 400px;
margin:auto 10px;
opacity: 1;
transition: .5s ease;
backface-visibility: hidden;
position: relative;
border:1px solid black;
}
.projectthree{
  display: inline-block;
vertical-align: top;
box-sizing: border-box;
width: 47%;
/* border:1px solid navy; */
height: 400px;
opacity: 1;
transition: .5s ease;
backface-visibility: hidden;
position: relative;
border: 1px solid black;

}

.Projecttwodescription{
  

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(145, 140, 140);

}

.projectfivedesc{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(240, 98, 98);


}
.projectsixdesc{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(119, 229, 222);


}
.projectsevendesc{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  grey;


}




.secondrow{
  margin-top:10px;
  margin-bottom: 10px;
}


.projectfour{
  /* display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border:1px solid red;
  height:400px;
  width:50%; */




  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 50%;
  /* border:1px solid darkgoldenrod; */
  height: 377px;
  margin:auto 10px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border:1px solid black;

}
.projectfive{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 47%;
  /* border:1px solid navy; */
  height: 377px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border: 1px solid black;
}








h2{
  font-size: 10px;
  border-top: solid 1px black;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  top: 50%;
  z-index: 1;    
}

span{
   background: #fff;
    padding: 0 20px;
    margin-top:-25px;
     display: inline-block;
     z-index: 5;
}


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}


h5{
  margin: 5px;
  float: right;
}
.endfooter{
  margin-top:14px;
}


.projectsix{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 49%;
  margin-right:10px;
  /* border:1px solid hotpink; */
  height: 400px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border:1px solid rgb(123, 229, 222)
}


.projectseven{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 50%;
  /* border:1px solid rgb(23, 114, 218); */
  height: 400px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border:1px solid black;

}



.contactok{
  
background-color:black;
    margin: 50px;
    height: 82%;
    color:rebeccapurple;
    z-index: -1;
    /* animation: roll 0.9s ;  */

    transform: rotateX(10deg);
    animation: one 0.9s;
    animation-direction:reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  
    /* transition: 0.3s cubic-bezier(.0,.3,0,1); */

  /* transform: rotate(10deg); */
  /* opacity: .7; */



}
.close{
  position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    padding: 6px;
    transform: rotateX(10deg);
    animation: one 0.9s;
    animation-direction:reverse;
    font-size: 20px;
    
    
    
  }
  

.close:hover{
  animation: skew 0.1s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    cursor: pointer;
    color:rgb(240, 98, 98);
}


  @keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }
  





.whatever{
  overflow: hidden;
}


.whatever1{
  animation-direction: alternate;
  cursor: pointer;
  color:rgb(240, 98, 98);
}
.contact {
  
  height: 100%;
  /* height: 100%;
  width: 100%;
  margin:0;
  position: absolute;
  box-sizing: border-box;
  transition: all 1s;
  opacity: 0;
  /*background-color: aqua;*/
  /* background-color: rgb(238, 17, 17); */
 /* font-size: 1px;
  padding: 1px;
  color: white;
  animation: roll 0.5s ;
  transform: scale(1) rotate(720deg); */

}

.ReactModalPortal .ReactModal__Overlay {
  background-color: white !important;
  transform: rotateX(10deg);
  animation: one 0.9s;
  animation-direction:reverse;
  position: fixed;
  top: -20px !important;
  height: 111vh;
  /* animation: roll 0.5s ;
  transform: scale(1) rotate(720deg); */
  
}


@keyframes one {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}


.contactme {
  margin:20px;
  color: white;
  /* border:1px solid red; */
  

}

h4{
  font-size: xx-large;
  font-weight: 100;
    color: white;
    font-family: adobe-garamond-pro;
}

.contactme a {
  text-decoration: none;
  font-size: -webkit-xxx-large;
  color: white;
}

.contactme a:hover{
  color: rgb(240, 98, 98);
  transition: 800ms ease-in-out;
}

.social{
  position: absolute;
  top:80%;
  color:white;
}

.social-links{
  color: white;
  padding: 10px;
}

.social-links:hover{
  color: rgb(240, 98, 98);
  transition: 800ms ease-in-out;
}


.javascriptblog{
  
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 30%;
    border: 1px solid red;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png);
    background-repeat: no-repeat;
    height: 322px;
    background-size: 320px;
    transition: all .5s ease;
    position: relative;backface-visibility: hidden;


}

.jsimage{

  
}

.react {

  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 30%;
  border: 1px solid saddlebrown;
  background-image: url(https://static.viget.com/react-logo-wide.png?mtime=20160411121644);
  background-repeat: no-repeat;
  background-size: 320px;
  height: 322px;
  margin: auto;
  transition: all .5s ease;
    position: relative;backface-visibility: hidden;
}




.blogcontainer{
  display: flex;
  justify-content: space-between;
}

.html{

  display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 30%;
    border: 1px solid saddlebrown;
    background-image: url(http://www.sickchirpse.com/wp-content/uploads/2016/09/HTML.jpg);
    background-repeat: no-repeat;
    
    background-size: 320px 322px;
    height: 322px;
    transition: all .5s ease;
    position: relative;backface-visibility: hidden;
}



 .middletext {
  
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* -webkit-transform: translate(50%, 50%); */
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    /* height: inherit; */

}

.html:hover {
  transform: scale(1.2);
  
}
  


.textblog a {
  position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
}


.javascriptblog:hover{
  transform: scale(1.2);
}

.react:hover{
  transform: scale(1.2)
}

.jsblog a {
  position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
}
.reacttext a {
  position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
}



h3 {
  letter-spacing: 5px;
  color: white;
}


.resume-link  {
  position: absolute;
  top: 80%;
  
  
  
}

.resume-link a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border: 1px solid white;
}

.resume-link a:hover{
  
    color: black;
    
    background-color: white;

    
    
}



















.projectone-backg:hover .middle {
  opacity: 1;
  cursor: pointer;
  
}
  
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 20px;
  font-size: medium;
  font-weight: bold;
  line-height: 50px;
  font-family: 'chevindemibold', sans-serif;
}

.description {
  width: 24px;
  float: left;
  border: 1.5px solid white;
}















.first-row {
  
  height: 375px;
  margin-left:10px;
  margin-bottom: 10px;

}

.protwo-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:48%;
  border: 1px solid black;
  height:inherit;
  background-image: url(./drummachine.png);
  background-size: cover; 
  background-position: center;
  margin-right: 10px;
  position: relative;
}

.protwo-back:hover  .Projecttwodescription{
  opacity: 1.5;
  cursor: pointer;
}

.prothree-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:50.5%;
  border: 1px solid black;
  height: inherit;
  background-image: url(./diamondgame.png);
  background-size: cover; 
  background-position: center;
  position: relative;
}
.prothree-back:hover  .Projecttwodescription{
  opacity: 1.5;
  cursor: pointer;
}

.second-row {
  
  height: 375px;
  margin-left:10px;
  margin-bottom: 10px;

}

.profour-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:48%;
  border: 1px solid black;
  height:inherit;
  background-image: url(./calc.png);
  background-size: cover; 
  
  margin-right: 10px;
  position: relative;
}

.profour-back:hover  .Projecttwodescription{
  opacity: 1.5;
  cursor: pointer;
}
.profive-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:50.5%;
  border: 1px solid black;
  height: inherit;
  background-image: url(./todoapp.png);
  background-size: cover; 
  background-position: center;
  position: relative;
}
.profive-back:hover  .projectfivedesc{
  opacity: 1.5;
  cursor: pointer;
}

.third-row {
  
  height: 375px;
  margin-left:10px;
  margin-bottom: 10px;

}

.prosix-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:48%;
  margin-right: 10px;
  border:1px solid rgb(123, 229, 222);
  height: inherit;
  background-image: url(./wiki.png);
  background-size: cover; 
  background-position: center;
  position: relative;

}

.prosix-back:hover .projectsixdesc {
  opacity: 1.5;
  cursor: pointer;
}

.proseven-back {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width:50.5%;
  border: 1px solid black;
  height: inherit;
  background-image: url(./rarticle.png);
  background-size: cover; 
  
  position: relative;
}

.proseven-back:hover .projectsevendesc {
  opacity: 1.5;
  cursor: pointer;
}