body {
  margin: 0;
  padding: 0;
  font-family:'Lato', sans-serif;
  background-color: #FFFFF3;
  color: #323232;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:auto 135px;
  /* border:1px solid red; */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
