@media only screen and (max-width:600px){
  body {
    margin:0;
  }
  .wrapper {
    border: 1px solid red; 
     margin: 30px 0px;
    /* height: 100px; */
    text-align: -webkit-center;
  }
.logo {
  border: 3px solid black;
  background-image: url(https://cdn.dribbble.com/users/150892/screenshots/3017429/logo-bm-mario-biancolella-01_1x.png);
  /* top: 50%; */
  /* padding: 25px; */
  background-repeat: no-repeat;
  background-size: 121px 100px;
  height: 91px;
  width: 100px;
  text-align: center;
  /* position: relative; */
  left: 0%;
  /* margin: auto 332px; */
  border-radius: 50%;
}

  

button {
  display: none;
}

  .active{
    float: left;
  }


  .topnav a.icon {
    float: right;
    display: block;
    color: black;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; 


  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
}

 
